<div class="row">
  <div class="col-md-12">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h5> Location entry
            <button type="button" class="close pull-right" (click)="onNoClick()">&times;</button>
        </h5>
      </div>
      <div class="panel-body">
        <form #locationForm="ngForm">
            <div class="form-group row" >
                <label for="LocationId" class="col-sm-3 col-form-label">Location Id</label>
                <div class="col-sm-9" >
                    <input class="form-control" readonly name="LocationId" #LocationIdControl="ngModel" id="LocationId" [(ngModel)]="location.LocationId">
                </div>
              </div>
              <div class="form-group row" [class.has-success]="locationNameControl.valid" [class.has-error]="locationNameControl.invalid&&locationNameControl.touched">
                  <label for="LocationName" class="col-sm-3 col-form-label">Location name</label>
                  <div class="col-sm-9" >
                      <input class="form-control" required name="LocationName" #locationNameControl="ngModel" id="LocationName" [(ngModel)]="location.LocationName">
                      <span class="help-block" *ngIf="locationNameControl.invalid&&locationNameControl.touched">
                        Location name feild is required
                    </span>  
                  </div>
                </div>
                <div class="form-group row">
                  <label for="Description" class="col-sm-3 col-form-label">Description</label>
                  <div class="col-sm-9" >
                      <input class="form-control" required name="Description" #descriptionControl="ngModel" id="Description" [(ngModel)]="location.Description">
                  </div>
                </div>
              <div class="row">
                <div class="col-md-2 pull-right">
                  <input type="button" [disabled]="locationForm.invalid" (click)="saveLocation()" value="Save" class="btn btn-primary">
                </div>
              </div>
        </form>
      </div>
    </div>
  </div>
</div>