<p>
  employee works finaly!
</p>
<button (click)="GetAlertBox()">Aler Box</button>
<!-- <h1>Search color</h1>
            <ng2-completer [(ngModel)]="searchStr" [datasource]="dataService" [minSearchLength]="0"></ng2-completer>
            <h1>Search captain</h1>
            <ng2-completer [(ngModel)]="captain" [datasource]="captains" [minSearchLength]="0"></ng2-completer>
<app-test></app-test> -->
<app-dynamic-table-entry
[Datalist]="datalist" 
[ColumnList]="columnlist"
[selectList]="deptList"
[AutoCompleteDataSource]="captains"
(AutoCompleteDataSourceClicked)="ParentAutoCompleteDataSource($event)"
>
</app-dynamic-table-entry>
<button (click)="CheckData()"> Check Data</button>