
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h5> Form Control
            <button type="button" class="btn btn-danger btn-sm pull-right" (click)="onNoClick()">&times;</button>
        </h5>
      </div>
      <div class="panel-body">
        <table class="table">
          <thead>
            <th style="text-align: center">Name</th>
            <th style="text-align: center">Label Name</th>
            <th style="text-align: center">Is Enable</th>
            <th style="text-align: center">Is Read Only</th>
          </thead>
          <tbody>
            <tr *ngFor="let a of data">
              <td style="text-align: center">{{a.Name}}</td>
              <td style="text-align: center"><input type="text" class="form-control" [(ngModel)]="a.LabelName"></td>
              <td style="text-align: center"><input type="checkbox" [(ngModel)]="a.IsEnable"></td>
              <td style="text-align: center"><input type="checkbox" [(ngModel)]="a.IsReadOnly"></td>
            </tr>
          </tbody>
      </table>
        <div class="row">
            <div class="col-md-2 pull-right">
              <input type="button" value="Save" (click)="saveColumnInfo()" class="btn btn-success">
            </div>
        </div>
      </div>
    </div>
  </div>
</div>


