<div class="container">
  <div class="row">
    <div class="col-md-12">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3  style="text-align: center" class="panel-title">Manufacture List 
                  <span (click)="createMaufactureForm()" id="pointer" class="glyphicon glyphicon-plus pull-left" aria-hidden="true"></span>
                  <span (click)="createNewManufacture()" id="pointer" class="glyphicon glyphicon-plus pull-right" aria-hidden="true"></span>
                </h3>
            </div>           
            <div class="panel-body" *ngIf="reload&&columnReady&&dataReady">
              <app-custom-datatable 
              [DataList]="DataList" 
              [reload]="reload"
              [ColumnList]="ColumnList"
              (EditSelectedRowClicked)="getManufactureDetails($event)"
              (DeleteDataRowClicked)="deleteManufacture($event)"
              >
              </app-custom-datatable>
            </div>
        </div>
    </div>
  </div>
</div>
