<div class="row">
  <div class="col-md-12">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h5> SalaryItem entry
            <button type="button" class="btn btn-danger btn-sm pull-right" (click)="onNoClick()">&times;</button>
            <span (click)="controlGroupItemForm()" title="view from control" class="pointer pull-left"><img height="30px" width="30px" src="./assets/Img/settings.png"></span>
        </h5>
      </div>
      <div class="panel-body">
        <form #salaryItemForm="ngForm">
            <div class="form-group row" *ngIf="salaryItemValidation[0]?.ItemId" [class.has-success]="salaryItemIdControl.valid&&salaryItemIdControl.touched" [class.has-error]="salaryItemIdControl.invalid&&salaryItemIdControl.touched">
                <label for="salaryItemId" class="col-sm-3 col-form-label control-label" [class.required]="salaryItemIdControl.invalid">SalaryItem id</label>
                <div class="col-sm-7" >
                    <input class="form-control" salaryItemCheck [required]="salaryItemValidation[0]?.ItemId&&salaryItemValidation[1]?.ItemId" name="salaryItemId" #salaryItemIdControl="ngModel" id="salaryItemId" [(ngModel)]="salaryItem.ItemId">
                    <span class="help-block" *ngIf="salaryItemIdControl.errors?.required&&salaryItemIdControl.touched">
                        SalaryItem id feild is required  
                    </span>
                    <span class="help-block" *ngIf="salaryItemIdControl.errors?.exists&&salaryItemIdControl.touched">
                      SalaryItem id already taken
                    </span>
                </div>
                <div class="col-md-2"> 
                  <app-autocode-generate
                  [itemName]="itemName"
                  (getGenerateAutoCode)="parentGetGeneratedCode($event)"
                  >
                  </app-autocode-generate>
                </div>
              </div>
            <div *ngIf="salaryItemValidation[0]?.ItemName" class="form-group row" [class.has-success]="salaryItemNameControl.valid&&salaryItemNameControl.touched" [class.has-error]="salaryItemNameControl.invalid&&salaryItemNameControl.touched">
                <label for="SalaryItemName" class="col-sm-3 col-form-label control-label" [class.required]="salaryItemNameControl.invalid">Item Name</label>
                <div class="col-sm-9" >
                    <input class="form-control" [required]="salaryItemValidation[0]?.ItemName&&salaryItemValidation[1]?.ItemName" name="SalaryItemName" #salaryItemNameControl="ngModel" id="SalaryItemName" [(ngModel)]="salaryItem.ItemName">
                    <span class="help-block" *ngIf="salaryItemNameControl.invalid&&salaryItemNameControl.touched">
                        SalaryItem name feild is required
                    </span>  
                </div>
              </div>
              <div *ngIf="salaryItemValidation[0]?.ItemTypeName" class="form-group row" [class.has-success]="itemType.valid&&itemType.touched" [class.has-error]="itemType.invalid&&itemType.touched">
                <label for="Description" class="col-sm-3 col-form-label control-label" [class.required]="itemType.invalid">Item type</label>
                <div class="col-sm-9" >
                    <select class="form-control" [required]="salaryItemValidation[0]?.ItemTypeName&&salaryItemValidation[1]?.ItemTypeName" name="ItemTypeName" #itemType="ngModel" id="Description" [(ngModel)]="salaryItem.ItemTypeName">
                      <option value="0">SELECT</option>
                      <option value="Earnings">Earnings</option>
                      <option value="Deductive">Deductive</option>
                    </select>
                    <span class="help-block" *ngIf="itemType.invalid&&itemType.touched">
                        Description feild is required
                    </span>  
                </div>
              </div> 
              <div class="row">
                <div class="col-md-2 pull-right">
                  <input type="button" [disabled]="salaryItemForm.invalid" (click)="saveSalaryItem()" value="{{salaryItem.Id==null?'Save':'Update'}}" class="btn btn-primary">
                </div>
                <div class="col-md-2 pull-right">
                  <input type="button" [disabled]="!salaryItemForm.dirty" (click)="clearSalaryItem()" value="Clear" class="btn btn-primary">
                </div>
              </div>
        </form>
      </div>
    </div>
  </div>
</div>
  