
<table class="table table-bordered">
  <tr>
    <td style="text-align: center" *ngFor="let col of ColumnList;let i=index;">
      <b>{{col.Type!='none'?col.LabelName:""}}</b>
    </td>
    <!-- <td><b>Action</b></td> -->
  </tr>
  <tbody>
    <tr *ngFor="let data of Datalist;let i=index;">
      <td *ngFor="let col2 of ColumnList">
        <div *ngIf="!col2.Editable&&col2.Type!='none'">
            {{Datalist[i][col2.Name]}}
        </div>
        <div *ngIf="col2.Editable">
            <input *ngIf="col2.Type=='text'" [(ngModel)]="Datalist[i][col2.Name]" type="text">
            <input *ngIf="col2.Type=='number'" class="form-control" [(ngModel)]="Datalist[i][col2.Name]" type="number">
            <ng2-completer class="form-control" *ngIf="col2.Type=='Autocomplete'" (click)="AutoCompleteClick(Datalist[i][col2.Name])" [(ngModel)]="Datalist[i][col2.Name]" [datasource]="AutoCompleteDataSource" [minSearchLength]="0"></ng2-completer>
            <select class="form-control" *ngIf="col2.Type=='select'" (change)="onchange($event)" [(ngModel)]="Datalist[i][col2.Name]">
              <option [value]="select.Id" *ngFor="let select of selectList">{{select.Name}}</option>
            </select>
        </div>
        <span id="pointer" *ngIf="col2.IsEnable&&col2.Name=='Delete'" class="glyphicon glyphicon-trash" (click)="deleteRow(i,data)"></span>
        </td>
    </tr>
  </tbody>
</table>
