.example-viewport {
    height: 500px;
    width: auto;
    border: 1px solid black;
  }
  
  .example-item-detail {
    height: 18px;
  }
  
  .example-alternate {
    background: rgba(127, 127, 127, 0.3);
  }
  .width{
    width: 300px;
  }
  .example-box {
    cursor: move;
    background: wheat;
    height: 30px;
  }
  .form-control{
    height: 29px;
  }