<div class="row">
  <div class="col-md-12">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h5> Category entry
            <button type="button" class="btn btn-danger btn-sm pull-right" (click)="onNoClick()">&times;</button>
            <span (click)="controlGroupItemForm()" title="view from control" class="pointer pull-left"><img height="30px" width="30px" src="./assets/Img/settings.png"></span>
        </h5>
      </div>
      <div class="panel-body">
        <form #categoryForm="ngForm">
            <div class="form-group row" *ngIf="categoryValidation[0]?.CategoryId" [class.has-success]="categoryIdControl.valid&&categoryIdControl.touched" [class.has-error]="categoryIdControl.invalid&&categoryIdControl.touched">
                <label for="categoryId" class="col-sm-3 col-form-label control-label" [class.required]="categoryIdControl.invalid">Category id</label>
                <div class="col-sm-7" >
                    <input class="form-control" categoryCheck1 [readonly]="categoryValidation[3]?.CategoryId" categoryCheck [required]="categoryValidation[0]?.CategoryId&&categoryValidation[1]?.CategoryId" name="categoryId" #categoryIdControl="ngModel" id="categoryId" [(ngModel)]="category.CategoryId">
                    <span class="help-block" *ngIf="categoryIdControl.errors?.required&&categoryIdControl.touched">
                        Category id feild is required  
                    </span>
                    <span [class.required]="categoryIdControl.errors?.exists" class="help-block" *ngIf="categoryIdControl.errors?.exists">
                      Category id already taken
                    </span>
                </div>
                <div class="col-md-2"> 
                  <app-autocode-generate
                  [itemName]="itemName"
                  [IsAutoCode]="IsAutoCode"
                  (getGenerateAutoCode)="parentGetGeneratedCode($event)"
                  >
                  </app-autocode-generate>
                </div>
              </div>
            <div *ngIf="categoryValidation[0]?.CategoryName" class="form-group row" [class.has-success]="categoryNameControl.valid&&categoryNameControl.touched" [class.has-error]="categoryNameControl.invalid&&categoryNameControl.touched">
                <label for="CategoryName" class="col-sm-3 col-form-label control-label" [class.required]="categoryNameControl.invalid">Category Name</label>
                <div class="col-sm-9" >
                    <input class="form-control" [required]="categoryValidation[0]?.CategoryName&&categoryValidation[1]?.CategoryName" name="CategoryName" #categoryNameControl="ngModel" id="CategoryName" [(ngModel)]="category.CategoryName">
                    <span class="help-block" *ngIf="categoryNameControl.invalid&&categoryNameControl.touched">
                        Category name feild is required
                    </span>  
                </div>
              </div>
              <div class="row">
                <div class="col-md-2 pull-right">
                  <input type="button" [disabled]="categoryForm.invalid" (click)="saveCategory()" value="{{category.Id==null?'Save':'Update'}}" class="btn btn-primary">
                </div>
                <div class="col-md-2 pull-right">
                  <input type="button" [disabled]="!categoryForm.dirty" (click)="clearCategory()" value="Clear" class="btn btn-primary">
                </div>
              </div>
        </form>
      </div>
    </div>
  </div>
</div>