<table class="table table-borderd">
  <thead>
      <tr> 
          <th>Sl No</th>
          <th *ngFor="let column of ColumnList">
              <span *ngIf="column.IsEnable&&column.Name!='Status'">{{column.LabelName}}</span>
              <span *ngIf="column.IsEnable&&column.Name=='Status'"><input (change)="checkedAllItem($event)" type="checkbox">Checked all</span>
          </th>
      </tr>
  </thead>
 <tbody>
      <tr *ngFor="let a of DataList;let i=index;" id="pointer">
          <td>{{i+1}}</td>
          <td *ngFor="let b of ColumnList; let j=index;">
              <span *ngIf="b.IsEnable&&b.Name!='Status'">{{DataList[i][b.Name]}}</span>
              <input id="pointer" type="checkbox"  *ngIf="b.IsEnable&&b.Name=='Status'" [(ngModel)]="DataList[i][b.Name]">
              <span id="pointer" title="Edit" *ngIf="b.IsEnable&&b.Name=='Edit'" (click)="getRowDetailsById(a.Id)" class="glyphicon glyphicon-edit"></span>
              <span id="pointer" title="Delete" *ngIf="b.IsEnable&&b.Name=='Delete'" class="glyphicon glyphicon-trash" (click)="deleteRow(a.Id)"></span> 
         </td>         
      </tr>                 
 </tbody>
</table>