<div class="row">
  <div class="col-md-12">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h5> Category entry
            <button type="button" class="close pull-right" (click)="onNoClick()">&times;</button>
        </h5>
      </div>
      <div class="panel-body">
        <form #categoryForm="ngForm">
            <div class="form-group row" [class.has-success]="categoryIdControl.valid" [class.has-error]="categoryIdControl.invalid&&categoryIdControl.touched">
                <label for="categoryId" class="col-sm-3 col-form-label">Category id</label>
                <div class="col-sm-9" >
                    <input class="form-control" required name="categoryId" #categoryIdControl="ngModel" id="categoryId" [(ngModel)]="category.CategoryId">
                    <span class="help-block" *ngIf="categoryIdControl.invalid&&categoryIdControl.touched">
                        Category id feild is required
                    </span>  
                </div>
              </div>
            <div class="form-group row" [class.has-success]="categoryNameControl.valid" [class.has-error]="categoryNameControl.invalid&&categoryNameControl.touched">
                <label for="CategoryName" class="col-sm-3 col-form-label">Category Name</label>
                <div class="col-sm-9" >
                    <input class="form-control" required name="CategoryName" #categoryNameControl="ngModel" id="CategoryName" [(ngModel)]="category.CategoryName">
                    <span class="help-block" *ngIf="categoryNameControl.invalid&&categoryNameControl.touched">
                        Category name feild is required
                    </span>  
                </div>
              </div>
              <div class="row">
                <div class="col-md-2 pull-right">
                  <input type="button" [disabled]="categoryForm.invalid" (click)="saveCategory()" value="{{category.Id==null?'Save':'Update'}}" class="btn btn-primary">
                </div>
                <div class="col-md-2 pull-right">
                  <input type="button" [disabled]="!categoryForm.dirty" (click)="clearCategory()" value="Clear" class="btn btn-primary">
                </div>
              </div>
        </form>
      </div>
    </div>
  </div>
</div>