/* You can add global styles to this file, and also import other style files */
 
.navbar-nav > li > a, .navbar-brand {padding-top:8px !important; padding-bottom:0 !important; height: 40px; } .navbar {min-height:30px !important;}


html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }
