<div class="row">
  <div class="col-md-12">
    <div class="panel panel-success">
      <div class="panel-heading">
        <div style="display: inline;"> <span style="padding-left: 35%">Department entry</span> 
            <button type="button" class="btn btn-danger btn-sm pull-right" (click)="onNoClick()">&times;</button>
            <span (click)="controlGroupItemForm()" title="view from control" class="pointer pull-left"><img height="30px" width="30px" src="./assets/Img/settings.png"></span>
        </div>
      </div>
      <div class="panel-body">
        <form #departmentForm="ngForm">
            <div class="form-group row" *ngIf="departmentValidation[0]?.DepartmentId" [class.has-success]="departmentIdControl.valid&&departmentIdControl.touched" [class.has-error]="departmentIdControl.invalid&&departmentIdControl.touched">
                <label for="departmentId" class="col-sm-3 col-form-label control-label" [class.required]="departmentIdControl.invalid">Department id</label>
                <div class="col-sm-7" >
                    <input class="form-control" [readonly]="departmentValidation[3]?.DepartmentId" departmentCheck [required]="departmentValidation[0]?.DepartmentId&&departmentValidation[1]?.DepartmentId" name="departmentId" #departmentIdControl="ngModel" id="departmentId" [(ngModel)]="department.DepartmentId">
                    <span class="help-block" *ngIf="departmentIdControl.errors?.required&&departmentIdControl.touched">
                        Department id feild is required  
                    </span>
                    <span class="help-block" *ngIf="departmentIdControl.errors?.exists">
                      Department id already taken
                    </span>
                </div>
                <div class="col-md-2"> 
                  <app-autocode-generate
                  [itemName]="itemName"
                  [IsAutoCode]="IsAutoCode"                 
                  (getGenerateAutoCode)="parentGetGeneratedCode($event)"
                  >
                  </app-autocode-generate>
                </div>
              </div>
            <div *ngIf="departmentValidation[0]?.DepartmentName" class="form-group row" [class.has-success]="departmentNameControl.valid&&departmentNameControl.touched" [class.has-error]="departmentNameControl.invalid&&departmentNameControl.touched">
                <label for="DepartmentName" class="col-sm-3 col-form-label control-label" [class.required]="departmentNameControl.invalid">Department Name</label>
                <div class="col-sm-9" >
                    <input class="form-control" [required]="departmentValidation[0]?.DepartmentName&&departmentValidation[1]?.DepartmentName" name="DepartmentName" #departmentNameControl="ngModel" id="DepartmentName" [(ngModel)]="department.DepartmentName">
                    <span class="help-block" *ngIf="departmentNameControl.invalid&&departmentNameControl.touched">
                        Department name feild is required
                    </span>  
                </div>
              </div>
              <div *ngIf="departmentValidation[0]?.Description" class="form-group row" [class.has-success]="descriptionControl.valid&&descriptionControl.touched" [class.has-error]="descriptionControl.invalid&&descriptionControl.touched">
                <label for="Description" class="col-sm-3 col-form-label control-label" [class.required]="descriptionControl.invalid">Description</label>
                <div class="col-sm-9" >
                    <input class="form-control" [required]="departmentValidation[0]?.Description&&departmentValidation[1]?.Description" name="Description" #descriptionControl="ngModel" id="Description" [(ngModel)]="department.Description">
                    <span class="help-block" *ngIf="descriptionControl.invalid&&descriptionControl.touched">
                        Description feild is required
                    </span>  
                </div>
              </div>
              <div class="row">
                <div class="col-md-2 pull-right">
                  <input type="button" [disabled]="departmentForm.invalid" (click)="saveDepartment()" value="{{department.Id==null?'Save':'Update'}}" class="btn btn-primary">
                </div>
                <div class="col-md-2 pull-right">
                  <input type="button" [disabled]="!departmentForm.dirty" (click)="clearDepartment()" value="Clear" class="btn btn-primary">
                </div>
              </div>
        </form>
      </div>
    </div>
  </div>
</div>
  