<div class="row">
  <div class="col-md-12">
      <div class="panel panel-primary">
          <div class="panel-heading">
              <h3 style="text-align: center" class="panel-title">Customer Transaction List
                    <app-custom-datatable-control-settings [userControlList]="userControlList"></app-custom-datatable-control-settings>
                  <span *ngIf="customerId!=null" class="pull-right" (click)="createNewCustomerTrnsaction()" id="pointer">
                      <img height="30px" width="30px" src="./assets/Img/addicon.png">
                  </span>
              </h3>
          </div>
          <div class="panel-body">
              <div class="row">
                  <div class="col-md-4">
                      <div class="form-group row">
                          <label for="formDate" class="col-sm-3 col-form-label">From Date</label>
                          <div class="col-sm-9" id="startDateMargin">
                              <div class="row">
                                  <div class="col-md-10">
                                      <input class="form-control" name="formDate" #formDateControl="ngModel" id="formDate" [(ngModel)]="formDate" matInput [matDatepicker]="formDatePicker">
                                  </div>
                                  <div class="col-md-1">
                                      <mat-datepicker-toggle matSuffix [for]="formDatePicker"></mat-datepicker-toggle>
                                      <mat-datepicker #formDatePicker [startAt]="startDate"> </mat-datepicker>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4" style="margin-left: 100">
                      <div class="form-group row">
                          <label for="toDate" class="col-sm-3 col-form-label">To Date</label>
                          <div class="col-sm-9" id="endDateMargin">
                              <div class="row">
                                  <div class="col-md-10">
                                      <input class="form-control" name="toDate" #toDateControl="ngModel" id="toDate" [(ngModel)]="toDate" matInput [matDatepicker]="toDatePicker">
                                  </div>
                                  <div class="col-md-2">
                                      <mat-datepicker-toggle matSuffix [for]="toDatePicker"></mat-datepicker-toggle>
                                      <mat-datepicker #toDatePicker [startAt]="startDate"> </mat-datepicker>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="form-group row" [class.has-success]="CustomerIdControl.valid&&customerIdtouch" [class.has-error]="CustomerIdControl.invalid&&customerIdtouch">
                      <label class="col-sm-4 control-label" for="Customer_Id" [class.required]="CustomerIdControl.invalid">Customer name </label>
                      <div class="col-sm-8">
                        <input style="display: none;" name="CustomerId" required #CustomerIdControl="ngModel"
                          [(ngModel)]="customerId" >
                        <app-customer-dropdown
                          (customerOnItemSelect)="customerOnSeletedItem($event)" [customerSelectedItems]="customerSelectedItems">
                        </app-customer-dropdown>
                        <span class="help-block" *ngIf="CustomerIdControl.invalid&&customerIdtouch">Customer name required</span>
                      </div>
                    </div>
                </div>
              </div>
              <div class="row">
                  <div class="col-md-12">
                      <app-custom-datatable 
                      [DataList]="DataList" 
                      [ColumnList]="ColumnList" 
                      (EditSelectedRowClicked)="getCustomerTansactionDetails($event)" 
                      (DeleteDataRowClicked)="deleteCustomerTransaction($event)">
                      </app-custom-datatable>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>