<div class="row">
  <div class="col-md-12">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h5> Designation entry
            <button type="button" class="btn btn-danger btn-sm pull-right" (click)="onNoClick()">&times;</button>
            <span (click)="controlGroupItemForm()" title="view from control" class="pointer pull-left"><img height="30px" width="30px" src="./assets/Img/settings.png"></span>
        </h5>
      </div>
      <div class="panel-body">
        <form #designationForm="ngForm">
            <div class="form-group row" *ngIf="designationValidation[0]?.DesignationId" [class.has-success]="designationIdControl.valid&&designationIdControl.touched" [class.has-error]="designationIdControl.invalid&&designationIdControl.touched">
                <label for="designationId" class="col-sm-3 col-form-label control-label" [class.required]="designationIdControl.invalid">Designation id</label>
              <div class="col-sm-7" >
              <input class="form-control" [readonly]="designationValidation[3]?.DesignationId" designationCheck [required]="designationValidation[0]?.DesignationId&&designationValidation[1]?.DesignationId" name="designationId" #designationIdControl="ngModel" id="designationId" [(ngModel)]="designation.DesignationId">
                    <span class="help-block" *ngIf="designationIdControl.errors?.required&&designationIdControl.touched">
                        Designation id feild is required  
                    </span>
                    <span class="help-block" *ngIf="designationIdControl.errors?.exists&&designationIdControl.touched">
                      Designation id already taken
                    </span>
                </div>
                <div class="col-md-2"> 
                  <app-autocode-generate
                  [itemName]="itemName"
                  [IsAutoCode]="IsAutoCode" 
                  (getGenerateAutoCode)="parentGetGeneratedCode($event)"
                  >
                  </app-autocode-generate>
                </div>
              </div>
            <div *ngIf="designationValidation[0]?.DesignationName" class="form-group row" [class.has-success]="designationNameControl.valid&&designationNameControl.touched" [class.has-error]="designationNameControl.invalid&&designationNameControl.touched">
                <label for="DesignationName" class="col-sm-3 col-form-label control-label" [class.required]="designationNameControl.invalid">Designation Name</label>
                <div class="col-sm-9" >
                    <input class="form-control" [required]="designationValidation[0]?.DesignationName&&designationValidation[1]?.DesignationName" name="DesignationName" #designationNameControl="ngModel" id="DesignationName" [(ngModel)]="designation.DesignationName">
                    <span class="help-block" *ngIf="designationNameControl.invalid&&designationNameControl.touched">
                        Designation name feild is required
                    </span>  
                </div>
              </div>
              <div *ngIf="designationValidation[0]?.Description" class="form-group row" [class.has-success]="descriptionControl.valid&&descriptionControl.touched" [class.has-error]="descriptionControl.invalid&&descriptionControl.touched">
                <label for="Description" class="col-sm-3 col-form-label control-label" [class.required]="descriptionControl.invalid">Description</label>
                <div class="col-sm-9" >
                    <input class="form-control" [required]="designationValidation[0]?.Description&&designationValidation[1]?.Description" name="Description" #descriptionControl="ngModel" id="Description" [(ngModel)]="designation.Description">
                    <span class="help-block" *ngIf="descriptionControl.invalid&&descriptionControl.touched">
                        Description feild is required
                    </span>  
                </div>
              </div>
              <div class="row">
                <div class="col-md-2 pull-right">
                  <input type="button" [disabled]="designationForm.invalid" (click)="saveDesignation()" value="{{designation.Id==null?'Save':'Update'}}" class="btn btn-primary">
                </div>
                <div class="col-md-2 pull-right">
                  <input type="button" [disabled]="!designationForm.dirty" (click)="clearDesignation()" value="Clear" class="btn btn-primary">
                </div>
              </div>
        </form>
      </div>
    </div>
  </div>
</div>
  