<div class="row">
  <div class="col-md-12">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h5> Form Control
            <button type="button" class="btn btn-danger btn-sm pull-right" (click)="onNoClick()">&times;</button>
        </h5>
      </div>
      <div class="panel-body">
          <app-form-validation-info
          (saveButtonclicked)="saveButtonclicked($event)"
           [formName]="data">
          </app-form-validation-info>
      </div>
    </div>
  </div>
</div>
