<div class="container">
    <ul *ngFor="let t of chartOfAccountTree">
          <li *ngIf="t.Children">
            <span Class="glyphicon glyphicon-play"></span>
            {{t.AccountDescription}}
              <ul *ngFor="let tt of t.Children">
                  <li *ngIf="t.Children">
                    <span Class="glyphicon glyphicon-play"></span>
                    {{tt.AccountDescription}}
                    <ul *ngFor="let ttt of tt.Children">
                        <li *ngIf="tt.Children">
                          <span Class="glyphicon glyphicon-play"></span>
                          {{ttt.AccountDescription}}
                          <ul *ngFor="let tttt of ttt.Children">
                              <li *ngIf="ttt.Children">
                                <span Class="glyphicon glyphicon-play"></span>
                                {{tttt.AccountDescription}}
                                <ul *ngFor="let ttttt of tttt.Children">
                                    <li *ngIf="tttt.Children">
                                      <span Class="glyphicon glyphicon-play"></span>
                                      {{ttttt.AccountDescription}}                           
                                    </li>
                                </ul>                              
                              </li>
                          </ul>                        
                        </li>
                    </ul>
                  </li>
              </ul>
          </li>
      </ul>
</div>