<div class="row">
  <div class="col-md-12">
      <div class="panel panel-success">
          <div class="panel-heading">
              <h3 style="text-align: center" class="panel-title">Customer Transaction List
                  <span class="pull-right" (click)="createNewPartyTrnsaction()" id="pointer">
                      <img height="30px" width="30px" src="./assets/Img/addicon.png">
                  </span>
              </h3>
          </div>
          <div class="panel-body">
              <div class="row">
                  <div class="col-md-4">
                      <div class="form-group row">
                          <label for="formDate" class="col-sm-3 col-form-label">From Date</label>
                          <div class="col-sm-9" id="startDateMargin">
                              <div class="row">
                                  <div class="col-md-10">
                                      <input class="form-control" name="formDate" #formDateControl="ngModel" id="formDate" [(ngModel)]="formDate" matInput [matDatepicker]="formDatePicker">
                                  </div>
                                  <div class="col-md-1">
                                      <mat-datepicker-toggle matSuffix [for]="formDatePicker"></mat-datepicker-toggle>
                                      <mat-datepicker #formDatePicker [startAt]="startDate"> </mat-datepicker>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4" style="margin-left: 100">
                      <div class="form-group row">
                          <label for="toDate" class="col-sm-3 col-form-label">To Date</label>
                          <div class="col-sm-9" id="endDateMargin">
                              <div class="row">
                                  <div class="col-md-10">
                                      <input class="form-control" name="toDate" #toDateControl="ngModel" id="toDate" [(ngModel)]="toDate" matInput [matDatepicker]="toDatePicker">
                                  </div>
                                  <div class="col-md-2">
                                      <mat-datepicker-toggle matSuffix [for]="toDatePicker"></mat-datepicker-toggle>
                                      <mat-datepicker #toDatePicker [startAt]="startDate"> </mat-datepicker>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group row">
                        <label for="toDate" class="col-sm-4 col-form-label">Customer Name</label>
                        <div class="col-sm-8" >
                            <app-customer-dropdown
                            (customerOnItemSelect)="customerOnSeletedItem($event)" [customerSelectedItems]="customerSelectedItems">
                          </app-customer-dropdown>
                        </div>
                    </div>
                </div>
              </div>
              <div class="row">
                  <div class="col-md-12" *ngIf="reload&&columnReady&&dataReady">
                      <app-custom-datatable 
                      [DataList]="DataList" 
                      [reload]="reload" 
                      [ColumnList]="ColumnList" 
                      (EditSelectedRowClicked)="getCustomerTansactionDetails($event)" 
                      (DeleteDataRowClicked)="deleteCustomerTransaction($event)">
                      </app-custom-datatable>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>